



/* common ------------------------------------------------------------------ */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("../images/lightBackground.svg");
    background-size: cover;
    background-position: center top;
}

button {
    padding: 1em 2em;
    margin: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-family: "Copperplate", fantasy;
    font-size: 3.5em;
}

h3 {
    text-align: left;
    font-family: "Copperplate", fantasy;
    font-size: 1.5em;
    backdrop-filter: blur(5em);
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-0.5em); }
    100% { transform: translateY(0); }
}

@keyframes toggle {
    0% { transform: rotate(0); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0); }
}

/* welcome ------------------------------------------------------------------ */
.welcomeContainer {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#table1 {
    border-radius: 10px;
    background-color: lightblue;
}

.page {
    border: 2px solid #5f5f5f66;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    font-size: 18px;
}

#spielen {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: black;
    text-decoration: none;
    border-style: solid;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#spielen:hover {
    background-color: #ff8888;
}

/* game bord ------------------------------------------------------------------ */
#gameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

#board {
    width: 75%;
}

.game-table {
    border-radius: 20px;
    padding: 1em;
    background: linear-gradient(45deg, ivory, moccasin);
    background-size: 150% 150%;
    animation: gradientBG 15s ease infinite;
    width: 50%;
}

.token {
    height: 10%;
    width: 5vh;
    text-align: center;
    font-weight: bold;
    border-radius: 3em;
    user-select: none;
}

.green-player {
    background-color: green;
    border-style: solid;
}

.green-end-field {
    background-color: green;
    border-style: solid;
    border-width: thin;
}

.red-player {
    background-color: red;
    border-style: solid;
}

.red-end-field {
    background-color: red;
    border-style: solid;
    border-width: thin;
}

.blue-player {
    background-color: blue;
    border-style: solid;
}

.blue-end-field {
    background-color: blue;
    border-style: solid;
    border-width: thin;
}

.yellow-player {
    background-color: yellow;
    border-style: solid;
}

.yellow-end-field {
    background-color: yellow;
    border-style: solid;
    border-width: thin;
}

.green-player:hover,
.red-player:hover,
.blue-player:hover,
.yellow-player:hover {
    border-radius: 0.75em;
}

.empty-field {
    background-color: darkgray;
    border-style: solid;
    border-color: darkgrey;
}

/* dice ------------------------------------------------------------------ */
.dice {
    padding: 4px;
    background-color: tomato;
    width: 3em;
    height: 3em;
    border-radius: 10%;
    margin-right : 2em;
    transition: transform 0.1s ease-in-out;
}
.dot{
    display: block;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color:white;
}

.dice:hover {
    animation: toggle 0.5s ease-in-out;
}

.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-face{
    display: flex ;
    justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
    align-self: flex-end;
}

.third-face {
    display: flex;
    justify-content: space-between;
}

.third-face .dot:nth-of-type(1) {
    align-self :flex-end;
}

.third-face .dot:nth-of-type(2) {
    align-self :center;
}


.fourth-face , .sixth-face, .fifth-face{
    display: flex;
    justify-content: space-between;
}

.fourth-face .column , .sixth-face .column, .fifth-face .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
    justify-content: center;
}

/* menu ------------------------------------------------------------------ */
#savemenu {
    width: 25%;
}

.menu-save-area {
    display: flex;
}
menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5em;
}

#textField {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    overflow-y: auto;
    max-height: 14em;
}

li {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 0.1em solid #ccc;
    border-radius: 0.1em;
    cursor: pointer;
    background: white;
}

li:hover {
    background-color: lightgray;
}

#undoButton,
#redoButton {
    padding: 1em 2em;
    margin: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    background-color: lightgray;
}






















