@(matrix: de.htwg.se.toybrokersludo.model.FieldBaseImpl.Matrix)

<table class="game-table", id="game">
    @for(rowList <- matrix.map) {
        <tr>
        @for(cell <- rowList) {
            <td class="token
                @(if (cell.token match {
                case Some(token) => token.getColor().equals("G")
                case None => false
            }) {"green-player"}
            else if(cell.token match {
                    case Some(token) => token.getColor().equals("R")
                    case None => false
                }) {"red-player"}
                else if(cell.token match {
                        case Some(token) => token.getColor().equals("B")
                        case None => false
                    }) {"blue-player"}
                    else if(cell.token match {
                            case Some(token) => token.getColor().equals("Y")
                            case None => false
                        }) {"yellow-player"}
                        else if(List(70, 71, 72, 73).contains(cell.index)) {"green-end-field"}
                            else if(List(74, 75, 76, 77).contains(cell.index)) {"red-end-field"}
                                else if(List(78, 79, 80, 81).contains(cell.index)) {"blue-end-field"}
                                    else if(List(82, 83, 84, 85).contains(cell.index)) {"yellow-end-field"}
                                        else if(cell.isAPlayField) {"empty-field"}
                    )">
            @cell.token.map(token => token.toString.charAt(1)).getOrElse("")
            </td>
        }
        </tr>
    }
</table>

<script type="text/javascript">
        const cells = document.querySelectorAll('.green-player, .red-player, .blue-player, .yellow-player');
        const greenPlayers = document.querySelectorAll('.green-player')
        const redPlayers = document.querySelectorAll('.red-player')
        const bluePlayers = document.querySelectorAll('.blue-player')
        const yellowPlayers = document.querySelectorAll('.yellow-player')

        greenPlayers.forEach(player => {
            player.addEventListener('click', function() {
                doMove('G'.concat(player.textContent.trim()))
            });
        });

        redPlayers.forEach(player => {
            player.addEventListener('click', function() {
                doMove('R'.concat(player.textContent.trim()))
            });
        });

        bluePlayers.forEach(player => {
            player.addEventListener('click', function() {
                doMove('B'.concat(player.textContent.trim()))
            });
        });

        yellowPlayers.forEach(player => {
            player.addEventListener('click', function() {
                doMove('Y'.concat(player.textContent.trim()))
            });
        });

        cells.forEach(cell => {
            cell.addEventListener('mousedown', function() {
                cell.style.animation = 'bounce 0.5s ease-in-out'
            });

            cell.addEventListener('mouseup', function() {
                setTimeout(() => {
                    cell.style.animation = null;
                }, 1000);
            });
        });
</script>



