@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(gameBoard: Html)(menu: Html)(dice: Html)(snackbar: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="https://unpkg.com/vue@@next"></script>
    </head>
    <body>
        @menu
        <div class="container">
            <div class="row">
                <div class="col-lg-8" style="padding: 20px;">
                @gameBoard
                </div>
                <div class="col-lg-2" style="padding: 20px;">
                @dice
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="alert alert-info" style="padding: 15px;">
                        <div id="snackbar">
                            @snackbar
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
