@(start: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@start</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
    <div class="welcomePage">
        <h1>@start</h1>
        <div class="welcomeContainer">
            <div class="ruleTable">
                <table id="table1">
                    <tr>
                        <td class="page">Regeln</td>
                    </tr>
                    <tr>
                        <td class="page">
                            Players take turns rolling a standard six-sided die <br>
                            and moving their game pieces according to the number rolled.<br>
                            If a 6 is rolled, the player can either move one of <br>
                            their pieces already on the board or start a new piece <br>
                            from the starting area. Game pieces can only enter the board<br>
                            when a 6 is rolled. Game pieces must move the exact number<br>
                            of spaces indicated by the die roll.<br>
                            If a game piece lands on a space occupied by an opponent's piece,<br>
                            the opponent's piece is sent back to its starting area.<br>
                            Once a game piece has traveled around the board and reached the center,<br>
                            it must move into its respective home column and be moved<br>
                            into its home space with an exact die roll.<br>
                            The first player to get all their pieces into their home wins the game.</td>
                    </tr>
                </table>
            </div>
            <a href="http://localhost:9000/game" id="spielen">Spielen</a>
        </div>
    </div>
    </body>
</html>